<header class=" header">
    <div class="d-flex flex-column align-items-start mx-auto header--content">
        <h3 class="header--h3">Efficient Learning Method</h3>
        <p class="header-para">A Letter is a written message conveyed from one person (or group of people) to another through a medium.</p>
        <button type="button" class="btn btn-class">Let's Start</button>
    </div>
</header>
<section class="section--one" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="testimonial">TESTIMONIALS</h2>
    <div class="section--one-content pb-4" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
        <mat-card class="section--one-content-card">
            <mat-card-header>
                <div mat-card-avatar class="section--one-content-card-image"></div>
                <mat-card-title>Avinav</mat-card-title>
                <mat-card-subtitle>Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-icon>star_rate</mat-icon>
                <mat-icon>star_rate</mat-icon>
                <mat-icon>star_rate</mat-icon>
            </mat-card-actions>
        </mat-card>
        <mat-card class="section--one-content-card ">
            <mat-card-header>
                <div mat-card-avatar class="section--one-content-card-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-icon>star_rate</mat-icon>
                <mat-icon>star_rate</mat-icon>
                <mat-icon>star_rate</mat-icon>
            </mat-card-actions>
        </mat-card>
        <mat-card class="section--one-content-card">
            <mat-card-header>
                <div mat-card-avatar class="section--one-content-card-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-icon>star_rate</mat-icon>
                <mat-icon>star_rate</mat-icon>
                <mat-icon>star_rate</mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
<section class="section--two " fxLayout="column" fxLayoutAlign="start center">
    <h2 class="testimonial">LATEST NEWS FROM BLOG</h2>
    <div class="section--two-content p-5" fxLayot fxLayoutAlign="center center" fxLayoutGap="15px" fxLayout.lt-md="column">
        <div class="section--two-content-left">
            <div class="section--two-content-left-shade p-5" fxLayout="column" fxLayoutAlign="center center">
                <h3>19 June:<span>BUSINESS POST</span></h3>
                <p class="section--two-left-left-content">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous.
                </p>
            </div>
        </div>
        <div class="section--two-content-right" fxLayout fxLayoutAlign="center center" fxLayout.lt-md="column">
            <div class="section--two-content-right-left" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.lt-md="row">
                <div class="section--two-center-image"></div>
                <div class="section--two-center-image"></div>
                <div class="section--two-center-image mb-0"></div>
            </div>
            <div class="section--two-content-right-right" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.lt-md="row">
                <div fxLayout="column" class="section--two-content-right-right-content" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                    <p class="section--two-right-image-h3">19 JAN: <span class="section--two-right-image-span">BUSINESS POST</span></p>
                    <p class="mb-0">A small, agile dog that copes very well with mountainous.</p>
                    <h5 class="mb-0 text-info">BY JOHANS</h5>
                </div>
                <div fxLayout="column" class="section--two-content-right-right-content" fxLayoutAlign="space-between start">
                    <p class="section--two-right-image-h3">19 JAN: <span class="section--two-right-image-span">BUSINESS POST</span></p>
                    <p class="mb-0">A small, agile dog that copes very well with mountainous.</p>
                    <h5 class="mb-0 text-info">BY JOHANS</h5>
                </div>
                <div fxLayout="column" class="section--two-content-right-right-content" fxLayoutAlign="space-between start">
                    <p class="section--two-right-image-h3 ">19 JAN: <span class="section--two-right-image-span">BUSINESS POST</span></p>
                    <p class="mb-0">A small, agile dog that copes very well with mountainous.</p>
                    <h5 class="mb-0 text-info">BY JOHANS</h5>
                </div>
            </div>

        </div>
    </div>

</section>